/* home.css */

:root {
  --purple: #8D53FF;
  --pink: #CA6BE6;
  --white: #f8f8f8;
  --dark: #1f1f1f;
  --red: #FF6057;
  --yellow: #FFBD2E;
  --green: #27C93F;
  --lightgray: #c9c9c9;
  --transition: all 250ms ease;
}

.shadowed {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.4);
}


h1 {
  font-size: 2rem;
  text-align: center;
}

@media only screen and (min-width: 940px) {
  h1 {
    font-size: 3rem;
    text-align: left;
  }
}

h2 {
  font-size: 1.25rem;
  text-align: center;
}

@media only screen and (min-width: 940px) {
  h2 {
    font-size: 2rem;
    text-align: left;
  }
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: var(--dark);
  transition: color 200ms ease;
}

a:hover {
  color: var(--lightgray);
  transition: color 200ms ease;
}

/* home.css */
.mini-bio-item {
  transition: transform 0.3s ease;
}

.mini-bio-item:hover {
  transform: scale(1.1);
}

.dark .social-icon {
  color: var(--white);
  transition: color 400ms;
}

.dark .footer-text {
  color: var(--white);
  transition: color 400ms;
}

.negative-image {
  filter: grayscale(100%); /* Aplica el filtro para invertir la imagen al 100% */
}

@keyframes wave {
  0% { transform: rotate(0.0deg); }
  10% { transform: rotate(14.0deg); }
  20% { transform: rotate(-8.0deg); }
  30% { transform: rotate(14.0deg); }
  40% { transform: rotate(-4.0deg); }
  50% { transform: rotate(10.0deg); }
  60% { transform: rotate(0.0deg); }
  100% { transform: rotate(0.0deg); }
}
