/* BaseLayout.css */

:root {
  --dark: #333333;
  --white: #ffffff;
  --transition: all 250ms ease;
}


footer {
  color: var(--dark);
}

.dark {
  background-color: var(--dark);
  color: var(--white);
  transition: all 400ms;

  a, i, li {
    color: var(--white);
    transition: color 400ms;
  }

  a:visited {
    color: var(--white);
  }

  footer {
    color: var(--white);
  }
}

.light {
  background-color: var(--white);
  color: var(--dark);
  transition: all 400ms;
}
